{% extends "conferences/base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Streszczenia' %}</h1>
    <div class="listContainer">
        {% if summaries %}
            <ul>
                {% for s in summaries %}
                    <li>
                        {{ s.original_filename }} {{ s.status_verbose }}
                        <a href="{{ s.url }}">[pobierz]</a>
                        {% trans 'Przypisano recenzentów: ' %} {{ s.review_count }}
                        {% trans 'Zaakceptowało recenzentów: ' %} {{ s.accepted_count }}
                        <a href="{% url 'review-add' s.id %}">[zleć recenzje]  </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{% trans 'Nie dodano żadnych streszczeń' %}</p>
        {% endif %}
    </div>
{% endblock %}
