{% extends "conferences/base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Streszczenia' %}</h1>
    <div class="listContainer">
        {% if summaries %}
            <table>
                <thead>
                    <th>{% trans 'Autor ' %}</th>
                    <th>{% trans 'Plik ' %}</th>
                    <th>{% trans 'Status ' %}</th>
                    <th>{% trans 'Zaakceptowało recenzentów ' %}</th>
                    <th>{% trans 'Przypisano recenzentów ' %}</th>
                    <th>{% trans 'Akcje ' %}</th>
                </thead>
                {% for s in summaries %}
                <tr>
                    <td>{{ s.author }}</td>
                    <td>{{ s.original_filename }}</td>
                    <td>{{ s.status_verbose }}</td>
                    <td>{{ s.accepted_count }}</td>
                    <td>{{ s.review_count }}</td>
                    <td>
                        <a href="{% url 'summary-details' s.id %}">[szczegóły]</a>&nbsp
                        <a href="{% url 'review-add' s.id %}">[zleć recenzje]</a>&nbsp
                        <a href="{{ s.url }}">[pobierz]</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans 'Nie dodano żadnych streszczeń' %}</p>
        {% endif %}
    </div>
{% endblock %}
