{% extends "conferences/base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Streszczenia' %}</h1>
    <form method="GET" action="{% url 'summary-list' %}" >
        {{ filter_form.as_p }}
        <input type="submit" value="Filtruj" />
    </form>
    <div class="listContainer">
        {% if summaries %}
            <table>
                <thead>
                    <th>{% trans 'Autor ' %}</th>
                    <th>{% trans 'Plik ' %}</th>
                    <th>{% trans 'Status ' %}</th>
                    <th>{% trans 'Przypisani recenzenci ' %}</th>
                    <th>{% trans 'Zaakceptowali' %}</th>
                    <th>{% trans 'Odrzucili' %}</th>
                    <th>{% trans 'Akcje ' %}</th>
                </thead>
                {% for s in summaries %}
                <tr>
                    <td>{{ s.author }}</td>
                    <td>{{ s.original_filename }}</td>
                    <td>{{ s.status_verbose }}</td>
                    <td>
                        {% if s.reviewers %}
                            {{ s.reviewers|join:", " }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if s.reviewers_accepted %}
                            {{ s.reviewers_accepted|join:", " }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if s.reviewers_rejected %}
                            {{ s.reviewers_rejected|join:", " }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'summary-edit' s.id %}">[edytuj]</a>&nbsp
                        <a href="{% url 'review-add' s.id %}">[zleć recenzje]</a>&nbsp
                        <a href="{{ s.url }}">[pobierz]</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans 'Brak streszczeń' %}</p>
        {% endif %}
    </div>
{% endblock %}
