# Django + Python
*.log
*.pot
*.pyc
local_settings.py

# SQLite
*.sqlite3

# IntelliJ IDEA project files
*.iml
.idea

Thumbs.db
media/*
static/*
src/conferences/management/commands/conferences_populate.py
src/conferences/management/__init__.py
src/conferences/management/commands/__init__.py
