{% extends "conferences/base.html" %}
{% load i18n staticfiles %}
{% block content %}
    {{ message }}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Zatwierdź zmiany' %}"/>
    </form>
    <br/> <br/>
    <p>
        <b>{% trans 'Rodzaj konta' %}:</b>
        {% if user.balance.is_student %}
            {% trans 'studenckie' %}
        {% else %}
            {% trans 'normalne' %}
        {% endif %}
    </p>
    <p><b>{% trans 'Bilans konta' %}</b>: {{ user.balance.available }} {% trans 'zł' %}</p>
    {% if user.balance.payments.all %}
        <table>
            <thead>
            <tr>
                <th>Termin zapłaty</th>
                <th>Opis</th>
                <th>Za streszczenie</th>
                <th>Do zapłaty</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {% for p in user.balance.payments.all reversed %}
                <tr>
                    <td>{{ p.time_to_pay.end }}</td>
                    <td title="{{ p.full_description }}">{{ p.short_description }}</td>
                    <td>{% if p.summary %}{{ p.summary }}{% else %}{% endif %}</td>
                    <td>{{ p.amount }} {{ p.currency }}</td>
                    <td>
                        {% if p.is_paid %}
                            {% trans 'Zapłacone' %}
                        {% else %}
                            {% trans 'Nie zapłacono' %}
                        {% endif %}
                    </td>
                    <td>
                        {% if not p.is_confirmed %}
                            <a href="{% url 'payments-confirm' p.pk %}" title="{% trans 'Potwierdź dane' %}"><img
                                    src="{% static 'conferences/img/question-mark.png' %}" class="icon-small"/></a>
                        {% else %}
                            {% if not p.is_paid and p.amount <= user.balance.available %}
                                <a href="{% url 'payments-pay' pk=p.pk %}">
                                    <img src="{% static 'conferences/img/payment.png' %}"
                                         class="icon-small" title="{% trans 'Zapłać' %}"/>
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if not p.is_paid %}
                            <a href="{% url 'payments-delete' pk=p.pk %}">
                                <img src="{% static 'conferences/img/deleteicon.png' %}"
                                     class="icon-small" title="{% trans 'Anuluj płatność' %}"/>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans 'Brak przypisanych płatności' %}</p>
    {% endif %}
{% endblock %}
