{% load staticfiles i18n cms_tags sekizai_tags %}
<html>
<head>
    <title>Konferencje naukowe!</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <link href="{% static 'conferences/css/style.css' %}" type="text/css"
          rel="stylesheet"/>
    {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}
<div id="wrapper">
    <div id="header">
        <h1>{% trans 'Konferencje django!' %}</h1>

        {% if not user.is_authenticated %}
            <div class="userInfo">
                <form id="login_form" method="post" action="{% url 'user-login' %}">
                    {% csrf_token %}
                    <input type="text" name="username" value="" placeholder="{% trans 'Login' %}"/>&nbsp;&nbsp;
                    <input type="password" name="password" value="" placeholder="{% trans 'Hasło' %}"/><br/>
                    <input type="submit" value="{% trans 'Zaloguj się' %}">&nbsp;
                    {% trans 'Nie masz konta?' %}
                    <a href="{% url 'user-registration' %}">{% trans 'Zarejestruj się' %}</a>
                </form>
            </div>
        {% else %}
            <div class="userInfo">{% trans 'Jestes zalogowany jako' %} <b>{{ user.username }}</b>. <a
                    href="{% url 'user-logout' %}">{% trans 'Wyloguj' %}</a></div>
        {% endif %}
    </div>
    {% load menu_tags %}
    <div class="leftNav">
        <ul>
            {% show_menu 0 100 100 100 "conferences/menu.html" %}
        </ul>
    </div>
    <div id="content">
        {% block content %}
            {{ content|safe }}
        {% endblock %}
    </div>
    <div class="push"></div>
</div>
<div id="footer">
    <div class="footer_block">Tu będzie jakaś stopka np. W celu usprawnienia
        systemu prosimy kierować uwagi na <a href="mailto:kontakt">kontakt@konferencje.pl</a>
    </div>
</div>
{% render_block "js" %}
</body>
</html>