{% load staticfiles i18n cms_tags sekizai_tags %}
<ul>
    <li><a href="/"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Strona główna' %}</a></li>
    {% if IS_CONFERENCE_ADMIN %}
    <li><a href="{% url 'reviewer-list' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Recenzenci' %}</a></li>
    <li><a href="{% url 'topic-list' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Tematy' %}</a></li>
    <li><a href="{% url 'session-list' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Sesje' %}</a></li>
    <li><a href="{% url 'lecture-list' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Referaty' %}</a></li>
    <li><a href="{% url 'summary-list' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Streszczenia' %}</a></li>
    <li><a href="{% url 'publication-list' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Publikacje' %}</a></li>
    <li><a href="{% url 'email-send' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Wyślij wiadomość' %}</a></li>
    <li><a href="{% url 'multi-email-send' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Wyślij masową wiadomość' %}</a></li>
    {% endif %}
    {% if user.reviewer %}
        <li><a href="{% url 'review-list' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Twoje recenzje' %}</a></li>
    {% endif %}
    <li><a href="{% url 'summary-add' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Dodawanie streszczenia' %}</a></li>
    <li><a href="{% url 'publication-add' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Dodawanie publikacje' %}</a></li>
    <li><a href="{% url 'review-add' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Dodawanie zlecenia recenzji' %}</a></li>
    <li><a href="{% url 'account' %}"><img src="{% static 'conferences/img/home.png' %}" class="icon"/>{% trans 'Moje konto' %}</a></li>
</ul>
