{% extends "conferences/base.html" %}
{% load staticfiles i18n topics %}
{% block content %}
    {% if not user.is_authenticated %}
        <p>{{ message }}</p>
    {% else %}
        <h1>{% trans 'Tematy' %}</h1>
        <div class="listContainer">
            {% if topics %}
                {% render_topics user.is_staff %}
            {% else %}
                <p>{% trans 'Nie został utworzony jeszcze żaden temat.' %}</p>
            {% endif %}
        </div>
        <input class="createBtn" type="button" value="{% trans 'Dodaj temat' %}"
               onclick='window.location.href="{% url 'topic-add' %}"'>
    {% endif %}
{% endblock %}
