{% extends "conferences/base.html" %}
{% load i18n %}
{% block content %}

<ul class="lecture-container">
        <li>{% trans 'Tytuł' %}: {{ lecture.title }}</li>
        <li>{% trans 'Początek' %}: {{ lecture.duration.start }}</li>
        <li>{% trans 'Koniec' %}: {{ lecture.duration.end }}</li>
        <li>{% trans 'Streszczenie' %}: <a href="{{ lecture.summary.url}}">{{ lecture.summary }}</a></li>
        <li>
            Referenci:
            <ul>
                {% for referent in lecture.referents.all %}
                    <li>{{ referent.get_full_name }}</li>
                {% endfor %}
            </ul>
        </li>
</ul>
{% endblock %}
