{% extends "conferences/base.html" %}
{% load i18n %}
{% block content %}

    <div class="listContainer">
            <table>
                <thead>
                    <th>Tytuł</th>
                    <th>Początek</th>
                    <th>Koniec</th>
                    <th>Streszczenie</th>
                    <th>Referenci</th>

                </thead>
                    <tr>
                        <td>{{ lecture.title }}</td>
                        <td>{{ lecture.duration.start }}</td>
                        <td>{{ lecture.duration.end }}</td>
                        <td><a href="{{ lecture.summary.url}}">{{ lecture.summary }}</a></td>
                        {% for referents in lecture.referents.all %}
                        <td>{{ referents.get_full_name }}</td>
                        {% endfor %}
                    </tr>
            </table>
    </div>


{% endblock %}
