{% extends "conferences/base.html" %}
{% load staticfiles i18n %}
{% block content %}
{% if not user.is_authenticated %}
    <p>{{ message }}</p>
{% else %}
    <h1>Referaty</h1>
    <div class="listContainer">
        {% if lectures %}
            <table>
                <thead>
                    <th>Start</th>
                    <th>Koniec</th>
                    <th>Nazwa</th>
                    <th>Streszczenie</th>
                    <th>Akcje</th>
                </thead>
                {% for lecture in lectures %}
                    <tr>
                        <td>{{ lecture.duration.start }}</td>
                        <td>{{ lecture.duration.end }}</td>
                        <td><a href="{% url 'lecture-details' lecture.id %}">{{ lecture.title }}</a></td>
                        <td><a href="{{ lecture.summary.url}}">{{ lecture.summary }}</a></td>
                        <td>
                            <a href="{% url 'lecture-edit' lecture.id %}" title="Edytuj">
                            <img src="{% static 'conferences/img/editicon.png' %}"class="icon-small"/></a>
                            <a href="{% url 'lecture-delete' lecture.id %}" onclick="return confirm('{% trans 'Usunąć referat?' %}');" title="Usuń">
                            <img src="{% static 'conferences/img/deleteicon.png' %}" class="icon-small"/>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans 'Nie został utworzony jeszcze żaden referat.' %}</p>
        {% endif %}
    </div>
    <input class="createBtn" type="button" value="{% trans 'Dodaj referat' %}"
           onclick='window.location.href="{% url 'lecture-add' %}"'>
{% endif %}
{% endblock %}
