{% extends "conferences/base.html" %}
{% load staticfiles i18n %}
{% block content %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="{% static 'conferences/js/reviewers.js' %}"></script>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="{% trans 'Utwórz recenzenta' %}" />
</form>
<script>
    $("#id_user_account").change(function(){
        UpdateReviewerFields();
    });

    $(document).ready(function(){
        UpdateReviewerFields()
    });
</script>
{% endblock %}


