{% extends "conferences/base.html" %}
{% load i18n %}
{% block content %}
    <h1>{{ reviewer.title }}</h1>
    <ul>
        <li>{% trans 'Konto' %}: {{ reviewer.user_account }}</li>
        <li>{% trans 'Imię' %}: {{ reviewer.first_name }}</li>
        <li>{% trans 'Nazwisko' %}: {{ reviewer.last_name }}</li>
        <li>{% trans 'Email' %}: {{ reviewer.email }}</li>
        <li>{% trans 'Numer telefonu' %}: {{ reviewer.contact_phone }}</li>
        <li>
            {% trans 'Aktywny' %}:
            {% if object.is_retired %}
                {% trans 'Nie' %}
            {% else %}
                {% trans 'Tak' %}
            {% endif %}
        </li>
        <li>{% trans 'Dostępność' %}
            <ul>
                {% for date in object.availability.all %}
                    <li>
                        {{ date.description }}
                        {% trans 'od' %}: {{ date.start }}
                        {% trans 'do' %}: {{ date.end }}
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>{% trans 'Niedostępność' %}
            <ul>
                {% for date in object.unavailability.all %}
                    <li>
                        {{ date.description }}
                        {% trans 'od' %}: {{ date.start }}
                        {% trans 'do' %}: {{ date.end }}
                    </li>
                {% endfor %}
            </ul>
        </li>

    </ul>
{% endblock %}