{% extends "conferences/base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <h1>Referaty</h1>
    <div class="listContainer">
        {% if lectures %}
            <ul>
                {% for lecture in lectures %}
                    <li>
                        <a href="{% url 'lecture-details' lecture.id %}">
                            {{ lecture.id }}
                        </a>
                        <a href="{% url 'lecture-edit' lecture.id %}"
                           title="Edytuj">
                            <img src="{% static 'conferences/img/editicon.png' %}"
                                 class="icon-small"/>
                        </a>
                        <a href="{% url 'lecture-delete' lecture.id %}"
                           onclick="return confirm({% trans 'Usunąć referat?' %});"
                           title="Usuń">
                            <img src="{% static 'conferences/img/deleteicon.png' %}"
                                 class="icon-small"/>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{% trans 'Nie został utworzony jeszcze żaden referat.' %}</p>
        {% endif %}
    </div>
    <input class="createBtn" type="button" value="{% trans 'Dodaj referat' %}"
           onclick='window.location.href="{% url 'lecture-add' %}"'>
{% endblock %}
