{% extends "conferences/base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Publikacje' %}</h1>
    <div class="listContainer">
        {% if publications %}
            <table>
                <thead>
                    <th>{% trans 'Autor ' %}</th>
                    <th>{% trans 'Plik ' %}</th>
                    <th>{% trans 'Status ' %}</th>
                    <th>{% trans 'Zaakceptowało recenzentów ' %}</th>
                    <th>{% trans 'Przypisani recenzenci ' %}</th>
                    <th>{% trans 'Akcje ' %}</th>
                </thead>
                {% for p in publications %}
                <tr>
                    <td>{{ p.author }}</td>
                    <td>{{ p.original_filename }}</td>
                    <td>{{ p.status_verbose }}</td>
                    <td>{{ p.accepted_count }}</td>
                    <td>
                        {% if p.reviewers %}
                            {{ p.reviewers|join:", " }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'publication-edit' p.id %}">[edytuj]</a>
                        <a href="{% url 'review-add' p.id %}">[zleć recenzje]</a>
                        <a href="{{ p.url }}">[pobierz]</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans 'Nie dodano żadnych publikacji' %}</p>
        {% endif %}
    </div>
{% endblock %}
