{% extends "conferences/base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <h1>{% trans 'Recenzje' %}</h1>
    <div class="listContainer">
        {% if reviews %}
            <ul>
                {% for r in reviews %}
                    <li>{{ r.reviewer }} <a href="{{ r.file_reviewed.url }}">{{ r.file_reviewed }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{% trans 'Nie posiadasz żadnych oczekujących publikacji do zrecenzowania' %}</p>
        {% endif %}
    </div>
{% endblock %}