{% extends "conferences/base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <h1>{% trans 'Recenzje streszczeń:' %}</h1>
    <div class="listContainer">
        {% if summary_reviews %}
            <table>
                <thead>
                    <th>Plik</th>
                    <th>Status</th>
                    <th>Akcje</th>
                </thead>
                {% for r in summary_reviews %}
                    <tr>
                        <td>{{ r.file_reviewed }}</td>
                        <td>{{ r.get_status_display }}</td>
                        <td><a href="{% url 'review-edit' r.id %}">[recenzuj</a> <a href="{{ r.file_reviewed.url }}">[pobierz]</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans 'Nie posiadasz żadnych oczekujących streszczeń do zrecenzowania' %}</p>
        {% endif %}
    </div>
    <h1>{% trans 'Recenzje publikacji:' %}</h1>
    <div class="listContainer">
        {% if publication_reviews %}
            <table>
                <thead>
                    <th>Plik</th>
                    <th>Status</th>
                    <th>Akcje</th>
                </thead>
                {% for r in publication_reviews %}
                    <tr>
                        <td>{{ r.file_reviewed }}</td>
                        <td>{{ r.get_status_display }}</td>
                        <td><a href="{% url 'review-edit' r.id %}">[recenzuj</a> <a href="{{ r.file_reviewed.url }}">[pobierz]</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans 'Nie posiadasz żadnych oczekujących publikacji do zrecenzowania' %}</p>
        {% endif %}
    </div>
{% endblock %}