<html>
    <head>
        <title>Konferencje naukowe!</title>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<link href="{{ MEDIA_URL }}style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
		<div id="wrapper">
			<div id="header">
			  <h1>Konferencje django !</h1>
			  <div class="userInfo">Jestes zalogowany jako <b>user</b> <a href="#">wyloguj</a></div>
			</div>
			<div class="leftNav">
				<ul>
					<li><a href="/"><img src="{{ MEDIA_URL }}home.png" width="30" height="30" align="middle" />Strona główna</a></li>
					<li><a href="/reviewers"><img src="{{ MEDIA_URL }}home.png" width="30" height="30" align="middle" />Recenzenci</a></li>
					<li><a href="/sessions/"><img src="{{ MEDIA_URL }}home.png" width="30" height="30" align="middle" />Sesje</a></li>
					<li><a href="/lectures/"><img src="{{ MEDIA_URL }}home.png" width="30" height="30" align="middle" />Referaty</a></li>
				</ul>
			</div>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
			<div class="push"></div>
		</div>
		<div id="footer">
			<div class="footer_block">Tu będzie jakaś stopka np. W celu usprawnienia systemu prosimy kierować uwagi na <a href="mailto:kontakt">kontakt@konferencje.pl</a></div>
		</div>
    </body>
</html>