<html>
    <head>
        <title>Konferencje naukowe!</title>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>
        <div id="header">
          <h1>Witaj!</h1>
        </div>
        <div id="menu" style="float:left">
            Menu
            <ul>
                <li><a href="/">Strona główna</a></li>
                <li><a href="/reviewers">Recenzenci</a></li>
                <li><a href="/sessions/">Sesje</a></li>
                <li><a href="/">Opcja 4</a></li>


            </ul>
        </div>
        <div id="content"  style="float:left">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>