{% extends "conferences/base.html" %}
{% block content %}
<h1>{{ object.title }}</h1>
<ul>
   <li>Konto: {{ object.user_account }}</li>
   <li>Imię: {{ object.first_name }}</li>
   <li>Nazwisko: {{ object.last_name }}</li>
   <li>Email: {{ object.email }}</li>
   <li>Numer telefonu: {{ object.contact_phone }}</li>
   <li>Is retired: {{ object.is_retired }}</li>
   <li>Dostępność
        <ul>
            {% for date in object.availability.all %}
            <li>{{date.description}} from: {{date.start}} to: {{date.end}}</li>
            {% endfor %}
        </ul>
   </li>
   <li>Unavailability
        <ul>
            {% for date in object.unavailability.all %}
            <li>{{date.description}} from: {{date.start}} to: {{date.end}}</li>
            {% endfor %}
        </ul>
   </li>

</ul>
{% endblock %}