{% extends "conferences/base.html" %}
{% block content %}
	<h1>Recenzenci</h1>
	<div class="listContainer">
	{% if reviewers %}
		<ul>
			{% for r in reviewers %}
				<li>
					<a href="/reviewers/{{r.pk}}">{{ r.name }}</a>
					<a href="/reviewers/{{r.pk}}/edit" title="Edytuj"><img src="{{ MEDIA_URL }}editicon.png" width="16" height="16" /></a>
					<a href="/reviewers/{{r.pk}}/remove" onclick="return confirm('Usunąć recenzenta?');" title="Usuń"><img src="{{ MEDIA_URL }}deleteicon.png" width="16" height="16" /></a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Żaden recenzent nie został jeszcze utworzony.</p>	
	{% endif %}
	</div>
	<input class="createBtn" type="button" value="Dodaj recenzenta" onclick='window.location.href="/reviewers/add"'>	
{% endblock %}