{% extends "conferences/base.html" %}
{% load staticfiles i18n %}
{% block content %}
    {% if not user.is_authenticated %}
        <p>{{ message }}</p>
    {% else %}
        <div class="listContainer">
            {% if users %}
                <table>
                    <thead>
                    <tr>
                        <th>Login</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Student?</th>
                        <th>Opis</th>
                        <th>Za streszczenie</th>
                        <th>Termin zapłaty</th>
                        <th>Do zapłaty</th>
                        <th>Waluta</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    {% for user in users %}
                        <tr>
                            {% if user.balance.payments.all %}
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.balance.is_student|yesno:"+,-" }}</td>
                                {% for p in user.balance.payments.all %}
                                    <td title="{{ p.full_description }}">{{ p.short_description }}</td>
                                    <td>{% if p.summary %}{{ p.summary }}{% else %}{% endif %}</td>
                                    <td>{{ p.time_to_pay.end }}</td>
                                    <td>{{ p.amount }}</td>
                                    <td>{{ p.currency }}</td>
                                    <td>
                                        {% if p.is_paid %}
                                            {% trans 'Zapłacone' %}
                                        {% else %}
                                            {% trans 'Nie zapłacono' %}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>{% trans 'Nie ma przypisanych żadnych płatności.' %}</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}